pkgbase = karajo-git
	pkgdesc = Worker, scheduler, and WebHook with HTTP.
	pkgver = 0.7.0.r42.gef379d6
	pkgrel = 1
	url = https://sr.ht/~shulhan/karajo
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = go
	makedepends = git
	provides = karajo
	backup = etc/karajo/karajo.conf
	backup = srv/karajo/index.html
	source = karajo-git::git+https://git.sr.ht/~shulhan/karajo
	sha256sums = SKIP

pkgname = karajo-git
