## SPDX-FileCopyrightText: 2021 M. Shulhan <ms@kilabit.info>
## SPDX-License-Identifier: GPL-3.0-or-later
/README.html
/_www/karajo/doc/index.html
/karajo
/testdata/karajo.conf.lastrun
/testdata/var
/tmp.go
