## SPDX-FileCopyrightText: 2023 M. Shulhan <ms@kilabit.info>
## SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=karajo
After=network.target

[Service]
User=karajo
WorkingDirectory=/var/lib/karajo
ExecStart=/usr/bin/karajo -config /etc/karajo/karajo.conf
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
